# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

/src/lib/
node_modules/
www/
platforms/
plugins/
hooks/
*.swp
.DS_Store
Thumbs.db
.tmp
npm-debug.log
*.xml
.idea/
npm-debug.log.3085686484
npm-debug.log.3476988269
npm-debug.log.1083212364
npm-debug.log.2660956575
